In [2]:
import pandas as pd 
import numpy as np

In [3]:
baseDados = [
    9.20, 9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80,  9.90, 10.10, 10.30,
    9.20, 9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80,  9.90, 10.10, 10.30,
    9.20, 9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90,  9.90, 10.10, 10.30,
    9.20, 9.40, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90, 10.00, 10.10, 10.40,
    9.20, 9.40, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90, 10.00, 10.20, 10.40,
    9.30, 9.40, 9.50, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.50, 9.60, 9.60, 9.70, 9.80, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.50, 9.60, 9.70, 9.70, 9.80, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80, 9.90, 10.00, 10.30,
]

In [4]:
serie = pd.Series(baseDados)

frequencia = pd.value_counts(
  pd.cut(
    x = serie,
    bins =[9.2, 9.6, 10, 10.4, 10.8],
    include_lowest = True,
    right=False
  ),
  sort = False
)

df = pd.DataFrame(frequencia)

df.columns = ['fi']
total = df['fi'].sum()

df['pi'] = df['fi'] / total
df

freq_acumulada = []
acumulada = 0 
for frequencia in df['fi']:
    acumulada = acumulada + frequencia
    freq_acumulada.append(acumulada)

df['Fi'] = freq_acumulada
df['Fi %'] = df['Fi'] / total

pm = [9.4, 9.8, 10.2, 10.6]
df['pm'] = pm

df['xifi'] = df['pm'] * df['fi']
df['xi2fi'] = (df['pm'] ** 2) * df['fi']

df['filnxi'] = df['fi'] * np.log(df['pm'])
df['fi/xi'] = df['fi'] / df['pm']
df

,fi,pi,Fi,Fi %,pm,xifi,xi2fi,filnxi,fi/xi
"[9.2, 9.6)",38,0.304,38,0.304,9.4,357.2,3357.68,85.146968,4.042553
"[9.6, 10.0)",65,0.520,103,0.824,9.8,637.0,6242.60,148.354855,6.632653
"[10.0, 10.4)",20,0.160,123,0.984,10.2,204.0,2080.80,46.447754,1.960784
"[10.4, 10.8)",2,0.016,125,1.000,10.6,21.2,224.72,4.721708,0.188679

In [5]:
mediaAritmetica = df['xifi'].sum() / total
mediaAritmetica

mediaGeometrica = np.e ** (df['filnxi'].sum()/total)
mediaGeometrica

mediaHarmonica = total / df['fi/xi'].sum()
mediaHarmonica

mediaQuadratica = np.sqrt(df['xi2fi'].sum()/total)
mediaQuadratica

9.759426212641808

In [6]:
df['di'] = np.round((df['pm'] - mediaAritmetica),4)
df['difi'] = df['di'] * df['fi']
df['mdifi'] = np.abs(df['di']) * df['fi']
df['di2fi'] = (df['di'] ** 2) * df['fi']
df['di3fi'] = (df['di'] ** 3) * df['fi']
df['di4fi'] = (df['di'] ** 4) * df['fi']
df

,fi,pi,Fi,Fi %,pm,xifi,xi2fi,filnxi,fi/xi,di,difi,mdifi,di2fi,di3fi,di4fi
"[9.2, 9.6)",38,0.304,38,0.304,9.4,357.2,3357.68,85.146968,4.042553,-0.3552,-13.4976,13.4976,4.794348,-1.702952,0.604889
"[9.6, 10.0)",65,0.520,103,0.824,9.8,637.0,6242.60,148.354855,6.632653,0.0448,2.9120,2.9120,0.130458,0.005845,0.000262
"[10.0, 10.4)",20,0.160,123,0.984,10.2,204.0,2080.80,46.447754,1.960784,0.4448,8.8960,8.8960,3.956941,1.760047,0.782869
"[10.4, 10.8)",2,0.016,125,1.000,10.6,21.2,224.72,4.721708,0.188679,0.8448,1.6896,1.6896,1.427374,1.205846,1.018698

In [7]:
desvioPadrao = np.sqrt(df['di2fi'].sum()/total)
print(desvioPadrao)

cv = desvioPadrao / mediaAritmetica
cv

variancia = df['di2fi'].sum() / total
variancia

0.28718105787116255

0.08247296

In [8]:
uR2 = df['di2fi'].sum() / total
print(uR2)

uR3 = df['di3fi'].sum() / total
print(uR3)

uR4 = df['di4fi'].sum() / total
print(uR4)

0.08247296
0.010150281215999995
0.019253743006515202

In [9]:
alpha3 = uR3 / (uR2 ** (3/2))
print(alpha3)

if alpha3 < 0:
    print('Assimetria Negativa')
elif alpha3 == 0:
    print('Simetrica')
else:
    print('Assimetria Positiva')

0.4285590807198186
Assimetria Positiva

In [10]:
alpha4 = (uR4 / uR2 ** 2) -3
print(alpha4)

if alpha4 < 0:
    print('Platicurtica')
elif alpha4 == 0:
    print('Mesocurtica')
else:
    print('Leptocurtica')

-0.16931198023966454
Platicurtica

In [11]:
# Valor a = 10

a = 10

df['Di'] = np.round((df['pm'] - a),2)
df['Difi'] = df['Di'] * df['fi']
df['Di2fi'] = (df['Di'] ** 2) * df['fi']
df['Di3fi'] = (df['Di'] ** 3) * df['fi']
df['Di4fi'] = (df['Di'] ** 4) * df['fi']
df

,fi,pi,Fi,Fi %,pm,xifi,xi2fi,filnxi,fi/xi,di,difi,mdifi,di2fi,di3fi,di4fi,Di,Difi,Di2fi,Di3fi,Di4fi
"[9.2, 9.6)",38,0.304,38,0.304,9.4,357.2,3357.68,85.146968,4.042553,-0.3552,-13.4976,13.4976,4.794348,-1.702952,0.604889,-0.6,-22.8,13.68,-8.208,4.9248
"[9.6, 10.0)",65,0.520,103,0.824,9.8,637.0,6242.60,148.354855,6.632653,0.0448,2.9120,2.9120,0.130458,0.005845,0.000262,-0.2,-13.0,2.60,-0.520,0.1040
"[10.0, 10.4)",20,0.160,123,0.984,10.2,204.0,2080.80,46.447754,1.960784,0.4448,8.8960,8.8960,3.956941,1.760047,0.782869,0.2,4.0,0.80,0.160,0.0320
"[10.4, 10.8)",2,0.016,125,1.000,10.6,21.2,224.72,4.721708,0.188679,0.8448,1.6896,1.6896,1.427374,1.205846,1.018698,0.6,1.2,0.72,0.432,0.2592

In [12]:
UR1 = df['Difi'].sum() / total
print(UR1)

UR2 = df['Di2fi'].sum() / total
print(UR2)

UR3 = df['Di3fi'].sum() / total
print(UR3)

UR4 = df['Di4fi'].sum() / total
print(UR4)

-0.2448
0.1424
-0.06508799999999998
0.042559999999999994

In [13]:
u2 = UR2 - (UR1 ** 2)
print(u2)

0.08247296000000001

In [14]:
u3 = UR3 - 3 * UR1 * UR2 + 2 * UR1 ** 3
print(u3)

0.01015028121600001

In [15]:
u4 = UR4 - 4 * UR1 * UR3 + 6 * (UR1 ** 2) * UR2 - 3 * (UR1 ** 4)
print(u4)

0.019253743006515223