In [1]:
import pandas as pd 
import numpy as np

In [2]:
baseDados = [
    9.20, 9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80,  9.90, 10.10, 10.30,
    9.20, 9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80,  9.90, 10.10, 10.30,
    9.20, 9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90,  9.90, 10.10, 10.30,
    9.20, 9.40, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90, 10.00, 10.10, 10.40,
    9.20, 9.40, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90, 10.00, 10.20, 10.40,
    9.30, 9.40, 9.50, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.50, 9.60, 9.60, 9.70, 9.80, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.50, 9.60, 9.70, 9.70, 9.80, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80, 9.90, 10.00, 10.20,
    9.30, 9.40, 9.50, 9.60, 9.60, 9.70, 9.70, 9.80, 9.80, 9.90, 10.00, 10.30,
]

In [4]:
serie = pd.Series(baseDados)
df = pd.DataFrame(serie.value_counts().sort_index())

df.columns = ['fi']
total = df['fi'].sum()

df['pi'] = df['fi'] / total
df

freq_acumulada = []
acumulada = 0 
for frequencia in df['fi']:
    acumulada = acumulada + frequencia
    freq_acumulada.append(acumulada)

df['Fi'] = freq_acumulada
df['Fi %'] = df['Fi'] / total
df

      fi     pi   Fi   Fi %
9.2    5  0.040    5  0.040
9.3    8  0.064   13  0.104
9.4   12  0.096   25  0.200
9.5   13  0.104   38  0.304
9.6   19  0.152   57  0.456
9.7   19  0.152   76  0.608
9.8   16  0.128   92  0.736
9.9   11  0.088  103  0.824
10.0   7  0.056  110  0.880
10.1   4  0.032  114  0.912
10.2   5  0.040  119  0.952
10.3   4  0.032  123  0.984
10.4   2  0.016  125  1.000