In [9]:
import pandas as pd 
import numpy as np

In [10]:
baseDados = [ 
    88, 45, 53, 86, 33, 86, 85, 30, 89, 53, 41, 96, 56, 38, 62,
    71, 51, 86, 68, 29, 28, 47, 33, 37, 25, 36, 33, 94, 73, 46,
    42, 34, 79, 72, 88, 99, 82, 62, 57, 42, 28, 55, 67, 62, 60,
    96, 61, 57, 75, 93, 34, 75, 53, 32, 28, 73, 51, 69, 81, 35 
]

In [17]:
print(np.percentile(baseDados, 25))
print(np.percentile(baseDados, 50))
print(np.percentile(baseDados, 75))
print(np.percentile(baseDados, 90))
print(np.percentile(baseDados, 95))

37.75
57.0
76.0
88.1
94.1

In [18]:
baseTestes = [
    25, 28, 28, 28, 29, 30, 32, 33, 33, 33, 34, 34, 35, 36, 37,
    38, 41, 42, 42, 45, 46, 47, 51, 51, 53, 53, 53, 55, 56, 57,
    57, 60, 61, 62, 62, 62, 67, 68, 69, 71, 72, 73, 73, 75, 75, 
    79, 82, 85, 86, 86, 86, 88, 88, 89, 91, 93, 94, 96, 96, 99
]

In [30]:
df = pd.DataFrame(baseTestes)
df.describe()

               0
count  60.000000
mean   59.166667
std    22.210981
min    25.000000
25%    37.750000
50%    57.000000
75%    76.000000
max    99.000000