In [2]:
dia = "Terça"
if dia == "Segunda":
  print("Hoje fará sol!")
elif dia == "Terça":
  print("Hoje vai chover!")
else:
  print("Sem previsão do tempo para o dia selecionado")

Hoje vai chover!

In [3]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [4]:
estudantes = {"Pedro":24, "Fernando":22, "Tania":26, "Cris":25}
len(estudantes)

4

In [5]:

int(6.5)

6

In [6]:
counter = 0
while counter < 100:
    if counter == 4:
        break
    else:
        pass
    print(counter)
    counter = counter + 1

0
1
2
3

In [7]:
s = 'Data Science Academy'
s[0]

'D'

In [8]:

idade1 = 25
idade2 = 35
idade2 % idade1

10

In [9]:
Par = lambda x: x%2==0
Par(3)

False

In [10]:
var = lambda s: s[1]
var('Python')

'y'

In [11]:
dict = {'k1':'martelo', 'k2':'serrote', 'k3':'machado'}
dict['k4'] = 'parafuso'
print(dict)

{'k1': 'martelo', 'k2': 'serrote', 'k3': 'machado', 'k4': 'parafuso'}

In [16]:
xs = 'Data Science Academy'
s[:-1]

'Data Science Academ'

In [15]:
maes$ = "Teste"

SyntaxError: invalid syntax (4240816268.py, line 1)

In [17]:
s = 'Data Science Academy'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [20]:
break1 = 1

In [21]:
for i in range(0, -10, -2):
    print(i)

0
-2
-4
-6
-8

In [22]:
try:
    8 + 's'
except TypeError:
    print("Operação não permitida")

Operação não permitida